:root {
  --primary-cyan: hsl(193, 38%, 86%);
  --primary-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
  background-color: var(--dark-blue);
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

main {
  min-height: 100vh;
}

.advice-slip {
  background-color: var(--dark-grayish-blue);
  width: 343px;
  margin-top: 120px;
  margin-inline: auto;
  padding-inline: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.advice-slip__title {
  color: var(--primary-green);
  margin: 40px 0 auto;
  font-size: 11px;
  letter-spacing: 3.46px;
}

.advice-slip__content {
  color: var(--primary-cyan);
  margin: 24px 0 0 0;
  text-align: center;
  font-size: 24px;
  letter-spacing: -0.26px;
}

.advice-slip__divider {
  margin: 24px 0 0 0;
  width: 100%;
}

.advice-slip__button {
  background-color: var(--primary-green);
  height: 64px;
  width: 64px;
  border-radius: 100%;
  border: none;
  transform: translateY(32px);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 16px;
}

@media (min-width: 1440px) {
  main {
    display: flex;
  }

  .advice-slip {
    width: 540px;
    padding-inline: 48px;
    margin: auto auto;
  }

  .advice-slip__title {
    margin-top: 48px;
    font-size: 13px;
  }

  .advice-slip__content {
    margin-top: 24px;
    font-size: 28px;
  }

  .advice-slip__divider {
    margin-top: 40px;
  }

  .advice-slip__button {
    margin-top: 8px;
    transform: translateY(32px);
  }

  .advice-slip__button:hover {
    box-shadow: 0px 0px 40px 0px #53ffaa;
  }
}
